/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/
body
{
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}
/*------------------Шрифты--------------------------*/
@font-face {
    font-family: 'Gothic';
    src: url("GrenzeGotisch-Bold.ttf");
}
@font-face {
    font-family: 'Six Caps';
    font-style: normal;
    font-weight: 400;
    src: local('Six Caps'), local('SixCaps'), url(https://fonts.gstatic.com/s/sixcaps/v10/6ae_4KGrU7VR7bNmaYcV_3Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v5/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Racing Sans One'), local('RacingSansOne-Regular'), url(https://fonts.gstatic.com/s/racingsansone/v7/sykr-yRtm7EvTrXNxkv5jfKKyDCAKHDn.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Farsan';
    font-style: normal;
    font-weight: 400;
    src: local('Farsan Regular'), local('Farsan-Regular'), url(https://fonts.gstatic.com/s/farsan/v5/VEMwRoJ0vY_zsyzK3aWo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;

    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;

    border: 1px solid;

    text-align: center;
}

.header__weather
{
    float: right;
    width: 200px;
}

.header__weather-title
{
    margin: 0;
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 1.17em;
    font-weight: bold;
}

.header__weather-text
{
    margin: 0;
    font-size: .8em;
    line-height: 1.1;
    text-align: justify;
}

.header__title
{
    overflow: visible;
    font-family: Gothic, cursive;
    margin: 0;
    font-size: 70px;
    text-align: center;
}

/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;

    margin: 0 30px;

    font-size: .6em;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    margin-top: 0;
    margin-bottom: 10px;

    font-family: 'Six Caps', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;

    text-indent: 2ch;
    text-align: justify;
    font-size: .8rem;
    font-style: oblique;
}

.article__author
{
    display: block;

    margin-top: 10px;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
}

.article__continue
{
    display: block;

    font-style: oblique;
    font-size: .8rem;
    text-align: center;
}

.article__content{
    text-indent: 2ch;
    text-align: justify;
    font-size: .8em;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__subtitle
{
    margin: 10px 0;

    font-family: "Times New Roman", serif;
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
}

.article__image-caption{
    font-size: .8rem;
    text-decoration: underline;
}

.article__title_font_racing{
    font-family: 'Racing Sans One', sans-serif;
    font-size: 200%;

}

.article__title_font_farsan{
    font-family: 'Farsan', sans-serif;
    font-size: 2.3em;

}

.article__two{
    column-count: 2;
/*    column-gap: 15px;  */
    text-align: justify;
}
/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__title
{
    margin: 0;

    font-family: "Times New Roman", serif;
    font-size: 1.17em;
    font-weight: bold;
}

.main-photo__desc
{
    margin-bottom: 20px;

    font-size: .8em;
}

.main-photo__caption{
    text-transform: uppercase;
    text-align: right;
    font-size: .7rem;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;
}

.multicolumn__right
{
    padding-left: 10px;
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
